* {
    font-family: helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(0, 0, 0);
    color: white;;
}

.header h1 {
    font-size: 1.4em;
    font-weight: 600;
    padding: 2em;
    max-width: 65%;
    flex-wrap: wrap;
}

label {
    font-size: .75em;
}

.header {
    border: none;
}

.container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
}

img {
    height: 100vh;
    width: auto;
    max-width: 60%;
}

.right-content {
    min-width: 80%;
}

.form-header h1 {
    font-size: 1.2em;
    font-weight: 600;
    padding-left: .8em;
    padding-top: .5em;
}

.main-footer {
    /* background-color: rgb(240, 240, 240); */
    padding: 1em;
}

.form {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(3, auto);
    grid-gap: 10px;
    padding: 1em;
    max-width: 50%;
    place-items: center;
    /* border: 1px solid red; */
;
}

.form input {
    width: 20em;
    height: 2.2em;
    border-radius: 3px;
    border: 1px solid #E5E7EB;
}

.grid-partner {
    display: flex;
    flex-direction: column;
}

input[type="button"] {
    padding: 1em;
    border-radius: 6px;
    border: 2px solid white;
    color: black;
    background-color: white;
}